.imgs img {
  height: 50px;
  padding: 5px;
}

.navbar-header {
  height: 70px;
}

.sub-pages {
  justify-content: center;
  align-items: center;
  margin-top:50px;

}

.pizza-container{
  width: 468px;
  margin-top:50px
}

.pizza-wrapper {
  box-shadow: 5px 5px 20px rgba(155, 155, 155, .5);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.pizza-wrapper .pizza-name {
  font-size: 24px;
  font-weight: bold;
}


.container-margin {
  margin-top:50px;
}


.offer-wrapper {
  box-shadow: 5px 5px 20px rgba(155, 155, 155, .5);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 400px;
}

.offer-wrapper .offer-img {
  width: 200px;
}
.offer-wrapper .offer-id {
  font-size: 24px;
  font-weight: bold;
}
.offer-wrapper .offer-valid-for {
  font-weight: bold;
  text-transform: uppercase;
}
.offer-wrapper #offer-button {
  margin: 20px;
}

#logo {
  width: 50px;
  filter: invert(100%);
  padding: 5px;
}

a {
  text-decoration: none;
}